* {
    box-sizing: border-box
}

.projectcontainer {
    height: 100%;
}


/* 3d card .container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
    -moz-transform: perspective(1400px);
    -ms-transform: perspective(1400px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective-origin: right;
    -moz-perspective-origin: right;
    perspective-origin: right;
} */

.container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
}

.containercard {
    margin: 0;
    background: none;
    height: 100vh;
    width: 400px;
    height: 240px;
}

.container .projectcard {
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, .7), 0 17px 17px 0 rgba(0, 0, 0, .5);
    position: relative;
    /*-webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: .8s ease-in-out; removed because of iOS incompactibility*/
}


/* 3d card .container .card {
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, .7), 0 17px 17px 0 rgba(0, 0, 0, .5);
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: .8s ease-in-out;
} */

.container .card {
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, .7), 0 17px 17px 0 rgba(0, 0, 0, .5);
    position: relative;
}

.container .logo {
    width: 200px;
    height: 200px;
    position: relative;
    background: none;
    /* linear-gradient(45deg, #F5AF69 50%, #F4EED7 50.9%),
  linear-gradient(90deg, #FC5135 50%, #4E203C 50%),
  linear-gradient(-45deg, #F5AF69 50%, #E8D9A0 50.9%), 
  linear-gradient(#FC5135 50%, #4E203C 50%),
  linear-gradient(-45deg, #F5AF69 50%, #E8D9A0 50.9%),
  linear-gradient(90deg, #FC5135 50%, #4E203C 50%),
  linear-gradient(45deg, #FC5135 50%, #F5AF69 50.9%);
  background-size: 50px 50px, 100px 50px, 50px 50px, 200px 100px, 50px 50px, 100px 50px, 50px 50px;
  background-repeat: no-repeat;
  background-position: 0 0, 50px 0px, 150px 0, 0 50px, 0 150px, 50px 150px, 150px 150px; */
}

.container .logo:before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    width: 140px;
    height: 140px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: linear-gradient(45deg, #F4EED7 50%, #E8D9A0 50%);
}

.container .logo:after {
    content: "";
    position: absolute;
    top: 55px;
    left: 55px;
    width: 90px;
    height: 90px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: linear-gradient(45deg, #FC5135 50%, #4E203C 49.9%), linear-gradient(-45deg, #F5AF69 50%, transparent 50%), linear-gradient(#FC5135 50%, #FC5135 50%), linear-gradient(-45deg, #4E203C 50%, transparent 50%);
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: 0 0, 0 45px, 45px 45px, 45px 0;
    border-radius: 0 50% 50% 50%;
}

.container .logo span {
    display: block;
    background: #4E203C;
    width: 29px;
    height: 32px;
    position: absolute;
    top: 99.5px;
    left: 130px;
    border-radius: 0 50% 50% 0;
}

.container .logo span:before {
    content: "";
    width: 10px;
    height: 10px;
    background: #E8D9A0;
    border-radius: 50%;
    position: absolute;
    top: 11px;
    left: 10px;
    z-index: 2;
}

.container .front,
.back {
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}


/* 3d card .container .front {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: rgba(124, 167, 218, .7); 
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    color: white;
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
} */

.container .front {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    /* background-color: rgba(124, 167, 218, .7); */
    /* background-color: #FF3CAC;
    background: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%); */
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    color: white;
    z-index: 2;
    /* -webkit-animation: card 5s ease infinite;
    -moz-animation: card 5s ease infinite;
    animation: card 5s ease infinite;
    background-size: 600% 600%; */
}

@-webkit-keyframes card {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 51%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes card {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 51%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes card {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 51%
    }
    100% {
        background-position: 0% 50%
    }
}

.container .back {
    /* background-color: rgba(124, 167, 218, .7); */
    background-color: #21D4FD;
    background-image: linear-gradient(225deg, #21D4FD 0%, #B721FF 100%);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    font-family: 'Arimo', sans-serif;
}


/* 3d card .container:hover .card {
    -webkit-transform: rotateY(180deg) translateX(100%);
    -moz-transform: rotateY(180deg) translateX(100%);
    -ms-transform: rotateY(180deg) translateX(100%);
    transform: rotateY(180deg) translateX(100%);
    cursor: pointer;
} */

.container:hover .card {
    /* add shine or dynamic to card*/
}

.projectcontainer .projectfront,
.projectback {
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 10px;
}



.projectcontainer .projectfront {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
  /*  background-color: rgba(124, 167, 218, .7);*/
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    color: white;
    z-index: 2;
    /*-webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    background-color: rgb(0 0 0 / 20%); removed because of iOS incompactibility*/
}

.projectcontainer .projectback {
    background-color: whitesmoke;*/
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    font-family: 'Arimo', sans-serif;
    padding-top: 1vh;
    padding-right: 1vw;
    padding-bottom: 1vh;
    padding-left: 1vw;
    background-color: rgb(0 0 0 / 20%);
}

.projectcard:hover {
    /*-webkit-transform: rotateY(180deg) translateX(100%);
    -moz-transform: rotateY(180deg) translateX(100%);
    -ms-transform: rotateY(180deg) translateX(100%);
    transform: rotateY(180deg) translateX(100%);
    cursor: pointer; removed because of iOS incompactibility*/
}

.front ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    /* margin: 5px 5px; */
    justify-content: space-evenly;
    margin: 0;
    padding: 5px;
}


}
.back ul li {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* 
.back ul li {

display: block;
text-align: center;
margin: 0;
padding:0;
}

.back a {
    list-style-type: none;
    display: block;
    text-align: center;
    margin: 0;
    padding:0;
    }
    


.back img {
    margin-top: 5px;
    margin-bottom: 15px;
    
    margin: auto;
    padding:0;
    } */

/* .container ul {
  margin: 0;
  width: 100%;
  list-style: none;
  position: absolute;
  bottom: 30px;
  left: 0;
  padding: 0 1%;
}
.container ul:after {
  content: '';
  display: table;
  clear: both;
}
.container li {
  width: 31.3333333333%;
  margin: 0 1%;
  float: left;
  padding: 10px;
  border: 2px solid #FC5135;
  border-radius: 4px;
  position: relative;
  text-align: center;
  color: #4E203C;
}
.container li:before {
  position: absolute;
  top: -25px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height:30px;
  background: #FC5135;
  color: white;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-family: FontAwesome;
}
.container li:nth-child(1):before {content: "\f095"}
.container li:nth-child(2):before {content: "\f003"}
.container li:nth-child(3):before {content: "\f0c1"} */
.container h1 h2 {
    color: yellow;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    font-size: 40px;
    margin: 0;
    margin-top: 2vh;
}
.container h1 span {
    color: #4E203C;
    display: block;
    font-size: .45em;
    letter-spacing: 3px;
}
.container h1 i {
    font-style: normal;
    text-transform: none;
    font-family: 'Playfair Display', serif;
}