.projectbutton {
    position: absolute;
    /*bottom: 0; */
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
}

.projectbutton a {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 1em;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.projectbutton a span {
    position: relative;
    z-index: 2;
}

.projectbutton a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    /* background: #E81123; */
    transition: all .35s;
}

.projectbutton a:hover {
    color: #fff;
}

.projectbutton a:hover:after {
    width: 100%;
}

.project1 a:after {
    background: #E81123;
}

.project2 a:after {
    background: #00B7C3;
}

.project3 a:after {
    background: #515C6B;
}

.project4 a:after {
    background: #0063B1;
}

@media only screen and (max-width: 580px) {
.portfoliocontent p {
 
  
    margin-top: 0px;
   
}
    
}

@media only screen and (max-width: 968px) {


.projectbutton {
   
    margin-top: 4vw;
}


.portfoliocontent p {
 
 
   height: 100px;
}

    
}

@media only screen and (max-width: 500px) {
.portfoliocontent p {
 
   
    margin-top: 0px;
   
}
    
}